<!DOCTYPE html>
<html>
<head>
    <title>Usuários</title>
</head>
<body>
    <h1>Usuários Registrados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Saldo</th>
                <th>Moeda</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.account_balance }}</td>
                <td>{{ user.currency }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

